name: tests

on:
  push:
    branches: [main]
  pull_request:
    branches:
      - "*"

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13"]
        include:
          - os: macos-latest
            python-version: "3.13"

    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: actions/checkout@v4

      - uses: mamba-org/setup-micromamba@v2
        with:
          environment-name: test-env
          create-args: >-
            python=${{ matrix.python-version }}
            gdal>=3.3
            pip
            tox
            tox-current-env
            tox-gh

      - name: install current package with dev/doc/test extras
        run: pip install ".[dev,doc,test]"

      - name: test with tox
        run: tox --current-env
        env:
          TOX_GH_MAJOR_MINOR: ${{ matrix.python-version }}
          CONDA_EXE: mamba

      - name: upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: list files
        run: ls -l .
